@{
    ViewBag.Title = "AngularProducts";
}

<script type="text/javascript">
    specialproductmodule.factory("InitialLoadService", function () {
        return { get specialproduct() { return @Html.Raw(Model); } };
    });
</script>

<script src="~/Scripts/SpecialProducts/specialproductcontroller.js"></script>
<div>
    <h2>Special products details</h2>
    <div class="row" ng-controller="specialproductontroller">
        
        <table class="table table-condensed table-hover">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>From</th>
                <th>Price</th>
                <th>Duration</th>
            </tr>

            <tr ng-repeat="product in specialproduct">
                <td> {{product.id}}</td>
                <td> {{product.name}}</td>
                <td> {{product.from}}</td>
                <td> {{product.price}}</td>
                <td> {{product.duration}}</td>
            </tr>
        </table>
    </div>
</div>